#hawtio-main-page,
.camel-split,
.jmx-split {
  height:auto !important;
  max-height: none !important;
}

#attribute-table-with-panel {
  height: auto !important;
}

.react-flow__node-camel .camel-node-content {
  background-color: #656565 !important;
}

.gutter {
  background-color: black !important;
}
